@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

img {
  display: block;
  max-width: 1000%;
}

h1,
h2,
h3 {
  line-height: 1;
  margon: 0;
}

@media screen and (max-width: 1020px) {
  /*
    h1{ font-size:48px;}
    h2{ font-size:30px;}
    h3{ font-size:20px;}
    p{ font-size:14px;}
    */

  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 42px;
  } /*4, 3.75, 1.5*/
  h3 {
    font-size: 36px;
  }
  p {
    font-size: 18px;
  }
  #home {
    padding: 5em 2em;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
    height: 100vh;
  }

  #uno {
    display: block;
    justify-content: center;
  }
}
@media screen and (min-width: 1021px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 48px;
  } /*4, 3.75, 1.5*/
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }

  #home {
    height: 100vh;
    padding: 5em 2em;
    margin-left: 8%;
    margin-right: 8%;
  }
}

#socials li {
  display: inline-block;
  padding-left: 0.8em;
  color: #fff;
}

a:link,
a:visited {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #d5ad25;
  background-color: transparent;
  text-decoration: underline;
  outline: none;
}

strong {
  font-weight: 600;
}

.section__title--intro {
  font-weight: 200;
}

.section__subtitle {
  margin: 0;
  font-size: h3;
}

#profession {
  padding-top: 0.3em;
}

.section__subtitle--intro {
  color: #9a1750;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1em;
}

.bg {
  /* The image used */
  background-image: url("img/one.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#first {
  align-content: center;
  text-align: center;
}

.list > a > img {
  display: inline-block;
}

#view_resume {
  text-align: center;
  align-content: center;
}

.project {
  margin-top: 60px;
}

#proj-heading {
  text-align: center;
  margin-bottom: 3rem;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.inner {
  display: inline-block;
  width: 25rem;
  border: 2px #fff;
  border-style: solid;
  flex-basis: auto;
  flex-shrink: 1;
  margin: 5px;
  padding: 0.5rem;
}

.inner h3 {
  font-size: 1.15rem;
  justify-content: center;
  margin-bottom: 10px;
}
.inner p {
  font-size: 0.8rem;
}
